.DS_Store
.git
.github
.idea
.vscode
.env
.env.*
!.env.example
*.pem
*id_rsa*

apps/api/node_modules
apps/api/dist
apps/web/node_modules
apps/web/.next

.run/
docs/
scripts/
*.md
!apps/proxy/README.md
